@import "global.css";
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Black Han Sans', sans-serif; */

/* header */


/*-------------section2 혜원----------------------*/

.sect2{
  height: 100vh;
  position: relative;
}

.sect2_txtbox>div>p,span{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 80px;
}

.sect2_txt1{
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 99;
}


.sect2_txt2{
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.sect2_txt1 p:nth-of-type(1){
  color: red;
}
.sect2_txt1 p:nth-of-type(2){
  color: #707070;
}

.sect2_txt1 span{
  background-color: #F8BE03;
  text-align: right;
  padding: 7px 10px 0 10px;
}

.sect2_txtbox span{
  /* display: block; */
}

.sect2_txt2 p span{
  display: block;
  color: #00AEEF;
  width: 700px;
}

.sect2_bgB{
  width: 40%;
  background-color: #00AEEF;
  position: absolute;
  top: 20px;
  right: 50px;
}
.sect2_bgB-img{
  width: 100%;
  position: relative;
  top: -10px;
  right: -30px;
}
.sect2_bgB-img img{
  width: 100%;
}

.sect2_bgY{
  width: 25%;
  background-color: #F8BE03;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.sect2_bgY-img{
  width: 100%;
  position: relative;
  bottom: 20px;
  left: 25px;
}
.sect2_bgY-img img{
  width: 100%;
}

/*-------------section2 혜원 끝----------------------*/