@import "global.css";
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Black Han Sans', sans-serif; */
.sub03 {
  width: 100%;
  height: auto;
}
.inner {
  border: 1px solid blue;
}
.BO {
  font-weight: bold;
}
/***********sect01**************/
.S3-sect01 {
  background: url(../img/sub03-sect01-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  padding: 10% 0;
}
.S3-sect01-title {
  margin-bottom: 15%;
}
.S3-sect01 h2 {
  font-size: 12vw;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin-left: 10%;
}
.S3-sect01 h2 em {
  width: 100%;
  display: block;
  margin-left: 20px;
  border-bottom: 10px solid #f8be03;
  color: #f8be03;
  font-size: 12vw;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.S3-sect01-title p,
.S3-yellowBox p {
  padding: 10px;
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
}
.S3-yellowBox {
  align-items: center;
}
.S3-yellowBox p {
  border-top: 10px solid black;
  margin: 0;
  padding: 50px 50px 50px 650px;
  width: 100%;
  background-color: #f8be03;
}
.S3-yellow-img {
  width: 500px;
  flex-wrap: wrap;
  z-index: 99;
}
.S3-yellow-img li {
  width: 50%;
}
.S3-yellow-img img {
  width: 99%;
  height: 99%;
  border: 5px solid #f8be03;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 5px;
}
.S3-yellow-img img:hover {
  z-index: 9999;
  transform: scale(1.05);
}
/***********sect02, sect03************/
.S3-sect02,
.S3-sect03 {
  padding-top: 5%;
}
.S3-sect02 .inner,
.S3-sect03 .inner {
  padding-bottom: 70px;
}
.S3-sect02-title,
.S3-sect03-title {
  font-size: 30px;
  margin-bottom: 60px;
}
.S3-sect02-title img,
.S3-sect03-title img {
  margin-right: 20px;
}
.S3-sect02 .inner > p,
.S3-sect03 .inner > p {
  margin: 20px 0;
}
/**********sect02, sect03 video 시작*************/
.S3-sect02-yellowBox {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 50px;
  float: right;
}
.S3-sect02-yellowBox li {
  width: 100%;
  height: 100%;
  border-left: 10px solid black;
  background-color: #f8be03;
  padding: 10px;
  position: absolute;
  display: none;
}
.S3-sect02-yellowBox li.on {
  display: block;
  animation: S3-name 0.5s forwards linear;
}
@keyframes S3-name {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.S3-video {
  position: relative;
  margin-top: 130px;
}
.S3-video iframe {
  position: absolute;
  opacity: 0;
}
.S3-video iframe.on {
  opacity: 1;
}
.S3-name {
  width: 70%;
  align-items: flex-end;
}
.S3-name li {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0;
  height: 30px;
}
.S3-name li a {
  display: block;
  text-align: center;
  height: 100%;
  width: 120px;
  transition: 0.3s;
}
.S3-name li.on {
  border-bottom: 2px solid #f8be03;
}
.S3-name li.on a {
  color: #f8be03;
  font-size: 18px;
}
.S3-name-02 li {
  align-items: flex-start;
  justify-content: flex-start;
}
.S3-name-02 li a {
  width: 300px;
}
/****************************/
@media screen and (min-width: 900px) {
  .S3-sect01 h2,
  .S3-sect01 h2 em {
    font-size: 110px;
  }
  .S3-sect01-title p {
    text-align: right;
    margin-right: 10%;
  }
  .S3-yellowBox {
    align-items: center;
    position: relative;
  }
  .S3-yellow-img {
    position: absolute;
    left: 10%;
  }
  .S3-sect02-yellowBox {
    width: 90%;
  }
  .S3-video {
    left: 15%;
  }
  .S3-video-02 iframe {
    right: 15%;
  }
  .S3-name {
    float: right;
    flex-direction: column;
  }
  .S3-name-02 {
    float: left;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .S3-yellowBox {
    flex-direction: column;
  }
  .S3-yellow-img {
    width: 96%;
    flex-wrap: nowrap;
  }
  .S3-yellowBox p {
    margin-top: 20px;
    padding: 30px;
  }
  .S3-sect02-title img,
  .S3-sect03-title img {
    display: block;
    margin-bottom: 20px;
  }
  .S3-sect02 .inner,
  .S3-sect03 .inner {
    padding-left: 5%;
  }
  .S3-video {
    width: 95%;
  }
  .S3-video iframe {
    width: 100%;
  }
  .S3-name {
    margin-top: 450px;
  }
  .S3-name li {
    align-items: center;
    justify-content: center;
  }
  .S3-name-02 {
    flex-direction: column;
  }
  .S3-name-02 li {
    width: 100%;
  }
}
