@import "global.css";
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Black Han Sans', sans-serif; */
.sub03 {
  width: 100%;
  height: auto;
}
.BO {
  font-weight: bold;
}
/***********sect01**************/
.S3-sect01 {
  background: url(../img/sub03-sect01-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  padding: 10% 0;
}
.S3-sect01-title {
  margin-bottom: 15%;
}
.S3-sect01 h2 {
  font-size: 12vw;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin-left: 10%;
}
.S3-sect01 h2 em {
  width: 100%;
  display: block;
  margin-left: 20px;
  border-bottom: 10px solid #f8be03;
  color: #f8be03;
  font-size: 12vw;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.S3-sect01-title p,
.S3-yellowBox p {
  padding: 10px;
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
}
.S3-yellowBox {
  align-items: center;
}
.S3-yellowBox p {
  border-top: 10px solid black;
  margin: 0;
  padding: 50px 50px 50px 650px;
  width: 100%;
  background-color: #f8be03;
}
.S3-yellow-img {
  width: 500px;
  flex-wrap: wrap;
  z-index: 99;
}
.S3-yellow-img li {
  width: 50%;
}
.S3-yellow-img img {
  width: 99%;
  height: 99%;
  border: 5px solid #f8be03;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 5px;
}
.S3-yellow-img img:hover {
  z-index: 9999;
  transform: scale(1.05);
}
/***********sect02, sect03************/
.S3-sect02,
.S3-sect03 {
  padding: 4% 0;
}
.S3-sect03 {
  position: relative;
}
.S3-sect02-title,
.S3-sect03-title {
  font-size: 30px;
  margin-bottom: 60px;
}
.S3-sect02-title img,
.S3-sect03-title img {
  margin-right: 20px;
}
.S3-sect02 .inner > p,
.S3-sect03 .inner > p {
  margin: 20px 0;
}
/**********sect02, sect03 video 시작*************/
.S3-sect02-yellowBox {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 50px;
  float: right;
}
.S3-sect02-yellowBox li {
  width: 100%;
  height: 100%;
  border-left: 10px solid black;
  background-color: #f8be03;
  padding: 10px;
  position: absolute;
  display: none;
}
.S3-sect02-yellowBox li.on {
  display: block;
  animation: S3-name 0.5s forwards linear;
}
@keyframes S3-name {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.S3-sect03-yellowBox {
  position: relative;
  width: 90%;
  height: 420px;
  float: right;
  background-color: #f8be03;
  border-right: 10px solid black;
  z-index: 9;
}
.S3-sect03-yellowBox li {
  position: absolute;
  width: 100%;
  padding: 20px;
  background-color: #f8be03;
  display: none;
}
.S3-sect03-yellowBox li.on {
  display: block;
}
.S3-video {
  position: relative;
  margin-top: 130px;
}
.S3-video-02 {
  margin-top: 90px;
}
.S3-video iframe {
  position: absolute;
  opacity: 0;
  z-index: 99;
}
.S3-video iframe.on {
  opacity: 1;
}
.S3-name {
  width: 70%;
  align-items: flex-end;
}
.S3-name li {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0;
  height: 30px;
}
.S3-name li a {
  display: block;
  text-align: center;
  height: 100%;
  width: 120px;
  transition: 0.3s;
}
.S3-name li.on {
  border-bottom: 2px solid #f8be03;
}
.S3-name li.on a {
  color: #f8be03;
  font-size: 18px;
}
.S3-name-02 {
  position: absolute;
}
.S3-name-02 li {
  align-items: flex-start;
  justify-content: flex-start;
}
.S3-name-02 li a {
  width: 300px;
}
/**********sect04***********/
.S3-sect04 {
  background-image: url(../img/sub03-sect04-bg.jpg);
  background-attachment: fixed;
  height: 100vh;
  padding-top: 50px;
}
.S3-sect04 h2 {
  display: inline-block;
  text-align: right;
  color: white;
  padding: 0 20px;
  font-size: 25px;
  line-height: 50px;
  height: 50px;
  background-color: #00aeef;
}
.S3-sect04 div {
  margin-top: 50px;
  width: 100%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/sub03-sect04-line.png), url(../img/sub03-sect04-line02.png);
  background-repeat: no-repeat;
  background-position: top, bottom;
}
.S3-sect04 div p {
  padding: 10% 0;
  color: white;
  width: 80%;
  margin: auto;
  font-size: 35px;
  height: 90%;
  text-align: center;
  line-height: 75px;
}
/*********sect05*******/
.S3-sect05 {
  position: relative;
  background-image: url(../img/recycle01.png);
  background-repeat: no-repeat;
  background-position: right 10% bottom;
  background-size: 20%;
}
.S3-sect05 .inner div {
  margin: 50px;
  padding: 10px 30px;
  border-left: 10px solid #00aeef;
}
.S3-sect05 .inner div p {
  margin: 20px 0;
  font-size: 20px;
}
.S3-sect05 .inner div p:last-child {
  font-size: 25px;
  font-weight: bold;
}
.S3-bg-txt {
  font-size: 10vw;
  position: absolute;
  top: 250px;
  left: 0;
  color: #00afef75;
}
.recycle-box {
  align-items: center;
  justify-content: center;
}
.recycle-box > img {
  height: 500px;
}
.recycle-box div {
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
}
.recycle-box div em {
  margin: 0 10px;
  color: #00aeef;
}
.recycle-box div .BO,
.S3-sect06 .BO {
  font-size: 25px;
}
.recycle-box-txt {
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
}
/********sect06***********/
.S3-sect06 {
  position: relative;
  padding-bottom: 30%;
}
.S3-bg-txt02 {
  top: 0%;
  right: 0;
  color: #333333a6;
  text-align: right;
}
.S3-sect06 > div {
  margin-top: 10%;
  justify-content: flex-end;
}
.S3-sect06 > div div {
  position: absolute;
  left: 10%;
  top: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  height: 700px;
  background-image: url(../img/adsdas.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.S3-sect06 > div div p {
  margin: 40px 0;
}
.S3-sect06 ul {
  height: 40%;
}
.S3-sect06 ul li {
  margin: 10px 0;
}
.S3-sect06 em {
  margin: 0 10px;
}
/***********sect07************/
.S3-sect07 {
  background-image: url(../img/FSC-Chain-of-Custody_1000x500_tcm30-157527.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;

}
.S3-sect07 > div{
  width: 65%;
  height: 80%;
  margin-top: 5%;
}
.S3-sect07 > div h3{
  font-size: 35px;
  background-color: white;
  padding:10px 10px 10px 20px;
  margin-bottom: 30px;
}
.S3-sect07 > div ul{
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
}
.S3-sect07 > div ul li{
  font-size: 25px;
  margin: 2% 0;
}
.S3-sect07 > div ul li:last-child{
  font-size: 35px;
  color: #00aeef;
  border-bottom: 5px solid #00aeef;
  font-weight: bold;
}
/**********sect08***********/
.S3-sect08{
  padding-top: 5%;
}
.S3-sect08 p{
  font-size: 25px;
  padding: 30px 0 30px 20px;
  margin-top: 50px;
  border-left: 10px solid #00aeef;
  font-weight: bold;
}
/****************************/
@media screen and (min-width: 900px) {
  .S3-sect01 h2,
  .S3-sect01 h2 em {
    font-size: 110px;
  }
  .S3-sect01-title p {
    text-align: right;
    margin-right: 10%;
  }
  .S3-sect02 .inner,
  .S3-sect03 .inner {
    padding-bottom: 350px;
  }
  .S3-yellowBox {
    align-items: center;
    position: relative;
  }
  .S3-yellow-img {
    position: absolute;
    left: 10%;
  }
  .S3-sect02-yellowBox {
    width: 90%;
  }
  .S3-sect03-yellowBox {
    width: 60%;
    margin-right: 100px;
    background-color: #f8be03;
    border-right: 10px solid black;
    background-image: url(../img/pandalogo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: left 30px bottom 30px;
  }
  .S3-video {
    left: 15%;
  }
  .S3-video-02 iframe {
    right: 15%;
  }
  .S3-name {
    float: right;
    flex-direction: column;
  }
  .S3-name-02 {
    width: 50%;
    flex-direction: column;
    right: 35%;
  }
  .S3-sect04 div p {
    width: 50%;
    font-size: 40px;
  }
  .S3-sect05 .inner div {
    margin: 50px 0 150px;
  }
  .recycle-box > img {
    height: 500px;
    margin-top: 100px;
  }
  .recycle-box div {
    border-left: 8px solid #00aeef;
    background-color: #00afef0e;
  }
}
@media screen and (max-width: 900px) {
  .S3-sect03 .inner {
    padding-bottom: 140%;
  }
  .S3-yellowBox {
    flex-direction: column;
  }
  .S3-yellow-img {
    width: 96%;
    flex-wrap: nowrap;
  }
  .S3-yellowBox p {
    margin-top: 20px;
    padding: 30px;
  }
  .S3-sect02-title img,
  .S3-sect03-title img {
    display: block;
    margin-bottom: 20px;
  }
  .S3-sect02 .inner,
  .S3-sect03 .inner {
    padding-left: 5%;
  }
  .S3-video {
    width: 95%;
  }
  .S3-video iframe {
    width: 100%;
  }
  .S3-name {
    margin-top: 450px;
  }
  .S3-name li {
    align-items: center;
    justify-content: center;
  }
  .S3-name-02 {
    flex-direction: column;
    top: 32%;
    width: 90%;
  }
  .S3-name-02 li {
    width: 100%;
  }
  .recycle-box {
    align-items: flex-end;
    flex-direction: column;
  }
  .recycle-box > img,
  .S3-sect06-img {
    height: 400px;
  }
  .S3-bg-txt {
    top: 40%;
  }
  .S3-bg-txt02 {
    top: 3%;
  }
  .recycle-box div {
    width: 100%;
    align-items: center;
  }
  .recycle-box div .BO {
    width: 100%;
    border-bottom: 3px solid #00aeef;
  }
  .S3-sect06 {
    padding-bottom: 800px;
  }
  .S3-sect06 > div div {
    top: 35%;
    left: 1%;
  }
  .S3-sect07 > div{
    width: 100%;
  }
  .S3-sect07 > div h3{
    font-size: 25px;
  }
  .S3-sect07 > div ul li{
    font-size: 18px;
  }
  .S3-sect07 > div ul li:last-child{
    font-size: 25px;
  }
}
