@import "global.css";
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Black Han Sans', sans-serif; */
section {
  position: relative;
}
/* sub1 공통속성 */
section:nth-child(n + 2) {
  padding: 20px 0;
}
/* .sub1_txtbox 공통속성 */
.sub1_txtbox {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  position: relative;
  padding: 80px 0;
}
.txt_bg {
  width: 950px;
  height: 330px;
  background-image: url(../img/what.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.txtline {
  position: absolute;
  top: 0px;
}

/* sub1_sect1 */

.sub1_sect1 > img {
  width: 100%;
  max-height: 800px;
  display: block;
}
.sub1_sect1 .sub1_txtbox {
  padding-top: 150px;
  margin-top: -520px;
  height: 600px;
}

.txt_bg1 {
  background-image: url(../img/what.png);
  bottom: 0;
  right: 0;
}
.txtbar {
  margin-right: 30px;
}
.sub1_txtbox h2 {
  font-size: 38px;
}
.sub1_txtbox p {
  font-size: 16px;
  margin-top: 50px;
}
/* sub1_sect2 */

.sub1_visit,
.sub1_visit::before {
  width: 65%;
  height: 300px;
  background-image: url(../img/sub1_visit.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  float: right;
}
.sub1_visit::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  float: right;
  left: -20px;
  bottom: -20px;
}

.sub1_visit p {
  font-size: 26px;
  color: #fff;
  position: absolute;
  left: 30px;
  bottom: 20px;
}
.sub1_visit b {
  font-size: 30px;
  color: #f8be03;
}

/* sub1_sect3 */

.sub1_sect3 {
  clear: both;
}
.sub1_sect3 .inner > img {
  display: block;
  margin: 100px auto 20px;
}
.sub1_sect3 .sub1_txtbox {
  height: 500px;
  right: -200px;
}
.sub1_sect3 .sub1_txtbox .txtbar {
  padding-left: 200px;
}

.txt_bg2 {
  background-image: url(../img/mean.png);
  bottom: 0;
  right: 0;
}

.sub1_sect3::before {
  position: absolute;
  content: "";
  width: 730px;
  height: 1873px;
  background-image: url(../img/possible.png);
  background-size: 90%;
  background-repeat: no-repeat;
  left: -320px;
  top: -150px;
  animation: txt 0.5s cubic-bezier(0, 0, 0.2, 1);
  /* animation: txt 0.5s linear; */
}

/* sub1_sect4 */

.sub1_sect4 .inner > img {
  width: 900px;
  display: block;
  margin: 100px auto 20px;
}
.sub1_sect4 .sub1_txtbox {
  height: 450px;
}
.txt_bg3 {
  background-image: url(../img/work.png);
  bottom: 0;
  right: 0;
}
.sub1_sect4 .txtline {
  left: -700px;
}

/* sub1_sect5 */
.sub1_sect5 {
}
.sub1_korea {
  background-image: url(../img/uEF9gZU.jpg);
  width: 90%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 100px auto 50px;
}
.sub1_korea p {
  font-family: "Black Han Sans", sans-serif;
  font-size: 120px;
  color: #f8be03;
  position: absolute;
  bottom: -35px;
  left: 50px;
}

.koreatxt {
  clear: both;
  position: relative;
  height: 200px;
}
.koreatxt p {
  font-family: "Black Han Sans", sans-serif;
  font-size: 120px;
  color: #000;
  position: absolute;
  top: -60px;
  left: 50px;
}

.sub1_sect5 .sub1_txtbox {
  height: 600px;
  right: -200px;
}

.sub1_sect5 .sub1_txtbox .txtbar {
  width: 300px;
  padding-left: 200px;
}

.sub1_sect5::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 1500px;
  background-image: url(../img/network.png);
  background-size: 70%;
  background-repeat: no-repeat;
  left: 100px;
  top: 750px;
}
.sub1_sect5::after.on {
  animation: txt 0.5s cubic-bezier(0, 0, 0.2, 1);
}

/* .sub1_sect6 함께하는 사람들 */
.peoplewith {
  display: block;
  margin: 100px 0 50px;
  width: 40%;
}
.sub1_sect6 > img {
  display: block;
  width: 100%;
}
/* 
.sub1_sect6 ul {
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -130px;
}
.sub1_sect6 ul li {
  position: relative;
  width: 40%;
  background-color: #f8be03;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 15px solid #fff;
  overflow: hidden;
  cursor: pointer;
}
.sub1_sect6 ul li:hover .sub1_nametxt {
  background-color: #f8be03;
}
.sub1_sect6 ul li:hover .sub1_name {
  display: none;
}
.sub1_sect6 ul li:hover .sub1_active {
  display: flex;
}

.sub1_sect6 ul li img {
  display: block;
  width: 100%;
  transition: 0.5s;
}
.sub1_nametxt {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sub1_nametxt.on {
  background-color: #f8be03;
}
.sub1_nametxt p {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.sub1_active {
  font-size: 14px;
  transition: 0.5s;
  display: none;
}
p.sub1_name {
  font-size: 35px;
  text-align: center;
  color: #fff;
  transition: 0.5s;
} */

.sub1_picture {
  position: relative;
  width: 1000px;
  margin: 50px auto 100px;
}
.sub1_picture img {
  display: block;
}
.sub1_pic1 {
  width: 100%;
  position: absolute;
  left: -70px;
  top: -30px;
}
.sub1_pic2 {
  position: relative;
  width: 100%;
  z-index: 1;
}
.sub1_pic3 {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  z-index: 2;
}

/* .sub1_sect7 히스토리 */

.sub1_sect7 .sub1_txtbox {
  height: 500px;
}

.sub1_sect7 .txt_bg6 {
  background-image: url(../img/history.png);
  bottom: 0;
  right: 0;
  width: 1200px;
  background-size: contain;
}

.sub1_sect7 .txtline {
  left: -500px;
}
/*  */
.history_tab {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
  margin-bottom: 30px;
}
.history_tab li {
  margin-right: 10px;
}
.history_tab li a {
  display: block;
  font-size: 20px;
  padding: 8px 35px;
  background-color: #eee;
  border-radius: 25px;
  font-weight: 400;
  color: #333;
}
.history_tab li a:hover,
.history_tab li a.on {
  color: #000;

  background-color: #f8be03;
}
/*  */
.history_con {
  display: flex;
}
.history_con > div {
  position: relative;
  width: 50%;
  padding-top: 35%;
  overflow: hidden;
}
.history_con_l img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.history_con_l img.on {
  display: block;
}

.history_txt {
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px;
  height: 100%;
  background-color: rgb(250, 249, 249);
  background-color: #eee;
  /* background-color: #edf4fb;
  background-color: #fef7e9; */
  display: none;
}
.history_txt.on {
  display: block;
}
.history_txt::after {
  content: "";
  width: 100%;
  height: 20px;
  background-color: #f8be03;
  position: absolute;
  bottom: 0;
  left: 0;
}
.history_txt p {
  font-size: 16px;
}
.history_txt p:first-child {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

/* txt 애니메이션 */
/* .txt_bg,
.txtbar,
.sub1_txt h2,
.sub1_txt p {
  opacity: 0;
} */

.txt_bg.on {
  animation: txt 2s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
}
.txtbar.on {
  animation: txt 0.5s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
}
.sub1_txt h2.on {
  animation: txt 1s 1.5s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
}
.sub1_txt p.on {
  animation: txt 2s 1.5s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
}

@keyframes txt {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* 자바스크립트 섹션값구해서 스크롤 이벤트 발생시키기 */

/* 반응형 */

@media screen and (min-width: 1200px) {
  .sub1_sect1 .sub1_txtbox {
    padding-top: -150px;
    margin-top: -150px;
    height: 600px;
  }
  .sub1_sect6 ul {
    max-width: 1000px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -130px;
  }
  .sub1_sect6 ul li {
    position: relative;
    width: 40%;
    background-color: #f8be03;
    border-radius: 50%;
    margin-bottom: 50px;
    border: 15px solid #fff;
    overflow: hidden;
    cursor: pointer;
  }
  .sub1_sect6 ul li:hover .sub1_nametxt {
    background-color: #f8be03;
  }
  .sub1_sect6 ul li:hover .sub1_name {
    display: none;
  }
  .sub1_sect6 ul li:hover .sub1_active {
    display: flex;
  }

  .sub1_sect6 ul li img {
    display: block;
    width: 100%;
    transition: 0.5s;
  }
  .sub1_nametxt {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sub1_nametxt.on {
    background-color: #f8be03;
  }
  .sub1_nametxt p {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p.sub1_active {
    font-size: 14px;
    transition: 0.5s;
    display: none;
  }
  p.sub1_name {
    font-size: 35px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1200px) {
  .sub1_sect1 .sub1_txtbox {
    padding-top: 100px;
    margin-top: 0px;
    height: 500px;
  }
  .sub1_sect2 .sub1_txtbox {
    padding-top: 100px;
    margin-top: 0px;
    height: 500px;
  }
  .sub1_sect3::before {
    display: none;
  }
  .sub1_visit,
  .sub1_visit::before {
    width: 100%;
    float: none;
  }
  .sub1_sect3 .sub1_txtbox {
    right: 0px;
  }
  .sub1_sect3 .sub1_txtbox .txtbar {
    padding-left: 0;
  }
  .sub1_sect4 .inner > img {
    width: 100%;
  }
  .sub1_korea {
    width: 100%;
    height: 290px;
    margin: 0 auto;
  }

  .sub1_korea p,
  .koreatxt p {
    font-size: 65px;
  }
  .sub1_korea p {
    bottom: 0px;
  }

  .koreatxt p {
    top: 5px;
  }
  .sub1_sect5 .sub1_txtbox {
    height: 600px;
    right: 0px;
  }
  .sub1_sect5 .sub1_txtbox .txtbar {
    width: 20px;
    padding-left: 0;
  }
  /* sect6 */
  .sub1_sect6 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: -50px;
  }
  .sub1_sect6 ul li {
    width: 80%;
    padding: 10px;
  }
  .sub1_sect6 ul li img {
    display: none;
  }
  .sub1_nametxt {
    position: relative;
    background-color: #f8be03;
    padding: 20px;
  }
  p.sub1_active {
    font-size: 17px;
    display: none;
    color: #000;
  }
  .sub1_active span {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    bottom: 0px;
    right: 30px;
    color: #fff;
    cursor: pointer;
  }
  .sub1_active span:hover {
    color: #333;
  }

  p.sub1_name {
    line-height: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
  }
  p.sub1_name:hover {
    color: #333;
  }
  p.sub1_name.on {
    margin-bottom: 15px;
  }
  p.sub1_active.on {
    display: block;
  }

  /*  */
  .sub1_picture {
    width: 100%;
    margin: 0 auto 50px;
  }
  .history_wrap {
    margin: auto;
  }
  .history_tab {
    justify-content: center;
  }

  .history_con {
    display: block;
    margin: auto;
  }

  .history_con > div {
    width: 90%;
    margin: auto;
  }
  .history_con > div.history_con_l {
    padding-top: 45%;
  }
  .history_con > div.history_con_r {
    padding-top: 45%;
  }
  .history_txt {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  section:nth-child(n + 2) {
    /* padding: 20px 0; */
    padding: 0px;
  }
  .txt_bg {
    width: 500px;
    height: 330px;
    background-image: url(../img/what.png);
    background-size: 100%;
    right: 0;
  }
  .txt_bg1 {
    height: 225px;
  }
  .txt_bg2 {
    height: 295px;
  }
  .sub1_txt {
    height: 350px;
  }
  /* sect6 */

  .sub1_sect6 ul {
    margin-bottom: 30px;
    margin-top: -35px;
  }

  p.sub1_active {
    font-size: 13px;
  }

  p.sub1_name {
    font-size: 20px;
  }

  p.sub1_name.on {
    margin-bottom: 15px;
  }

  /*  */
  .sub1_sect7 .txt_bg6 {
    bottom: -80px;
    width: 442px;
  }
  .txtbar {
    margin-right: 10px;
  }
  .txtline img {
    width: 150%;
    display: inline-block;
  }
  .txtbar img {
    width: 50%;
    height: 80%;
  }
  .sub1_txtbox {
    padding: 30px 0;
  }
  .sub1_txt p {
    font-size: 13px;
  }
  .sub1_sect3 .sub1_txtbox .txtbar {
    padding-left: 0px;
  }
  .sub1_sect3 .sub1_txtbox {
    right: 0px;
  }
  .sub1_sect3 .txtline {
    left: 100px;
  }
  .sub1_sect3 .inner > img {
    margin: 100px auto 20px;
    width: 80%;
  }
  .sub1_sect4 {
    margin-top: -50px;
  }

  .sub1_sect4 .inner > img {
    width: 100%;
    display: block;
    margin: 0;
  }
  .sub1_sect4 .txtline {
    left: 00px;
  }
  .sub1_sect4 .txtline img {
    width: 100%;
  }
  /*  */
  .sub1_sect5 {
    margin-top: -50px;
  }
  .sub1_sect5 .txtline {
    left: 100px;
  }
  /*  */

  .peoplewith {
    margin: 0 auto 35px;
    width: 80%;
  }
  .sub1_picture {
    width: 100%;
    margin: 0 auto 50px;
  }

  .sub1_picture {
    margin-top: 50px;
  }
  .sub1_picture img:nth-child(3) {
    bottom: -30px;
  }
  .sub1_sect7 .sub1_txtbox {
    height: 365px;
  }
  .sub1_sect7 .txtline {
    margin-right: 100px;
  }
  .sub1_sect7 .txtline img {
    width: 100%;
    display: inline-block;
  }
  .history_tab {
    margin-top: 0;
    justify-content: center;
  }
  .history_tab li a {
    font-size: 18px;
    padding: 5px 15px;
  }

  .history_con {
    width: 100%;
    margin: auto;
  }
  .history_con > div.history_con_r {
    padding-top: 70%;
  }
  .history_txt {
    padding: 20px 20px 50px;
  }
}
@media screen and (max-width: 500px) {
  .sub1_txt p {
    font-size: 11.5px;
  }
  .history_txt p {
    font-size: 14px;
  }
}
